build/

.idea/
.vscode/
cmake-build-debug/
__pycache__
*.pyc
.DS_Store
*.egg-info/

*.so
*.o
*.a


deepfacade
results
__pycache__
dist
tests/data
dtcc_deepfacade/models
dtcc_deepfacade/win_det_heatmaps/model